

.player-name {
  z-index: 4;
  color: white;
  display: inline-block;
  color: rgba(255,255,255,.5);

  .change-name, .confirm-name  {
    position: relative;
    top: -2px;
  }

  &[mode=input] {
    .change-name {
      display: none;
    }
    .display-name {
      display: none;
    }
    
    .icon-helmet { 
      opacity: 1;
    }
  }

  &[mode=display] {
    .confirm-name {
      display: none;
    }

    input {
      display: none;
    }
  }

  .display-name {
    padding: 6px 0;
    display: inline-block;
    text-transform: none;
  }

  .action {
    margin: 0;

    span {
      margin: 0;
    }
  }

  .confirm {
    margin: 0;
    display: none;
  }
  
  &.active {
    .confirm {
      display: block;
    }
  }

  input {
    font-size: 13px;
    width: 155px;
    text-align: left;
    color: white;
    text-transform: none;
    opacity: .5;
    background: transparent;
    padding: 0 0 4px 0;
    border-width: 0 0 0 0;
    text-transform: uppercase;
    border-bottom: solid 2px rgba(255,255,255,.5);
    
    
    &:focus {
      outline: none;
      opacity: 1;
      border-bottom: solid 2px rgba(255,255,255,1);
    }
  }
}


.bottom-stuff {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 8px 0 18px 0;
  text-align: center;
  font-size: 13px;
  background: rgba(0,0,0,.9);

  a {
    color: white;
    opacity: .5;
    margin: 0 15px;
    display: inline-block;
    text-decoration: none;
    transition: opacity .2s ease-out;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    .key {
      padding: 7px 5px 5px 7px;
      background: white;
      margin-right: 6px;
      color: black;
      border-bottom: solid 4px #999;
    }
  }

  .icon {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 0;
    position: relative;
    top: 8px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }

  .zoom .icon {
    background-image: ~"url(./public/img/icon-camera.png)";
  }
  
  .change-track .icon {
    background-image: ~"url(./public/img/icon-menu.png)";
  }

  .quick-restart .icon {
    background-image: ~"url(./public/img/icon-restart.png)";
  }

  .toggle-music .icon {
    background-image: ~"url(./public/img/icon-music.png)";
  }

  .toggle-sound .icon {
    background-image: ~"url(./public/img/icon-sound-off.png)";
  }


  .icon-helmet {
    background-image: ~"url(./public/img/icon-helmet.png)";
    opacity: .5;
    margin-right: 9px;
    top: 9px;
  }

  .toggle-sound.sound-on .icon {
    background-image: ~"url(./public/img/icon-sound-on.png)";
  }

}


.icon-pop {
  animation: iconpop .25s ease-out;
}

@keyframes iconpop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40%{
    transform: scale(.9);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
