.leaderboard {
  position: absolute;
  right: 0;
  height: 100%;
  width: 185px;
  padding: 15px 20px;
  overflow-y: scroll;
  font-size: 11px;
  transform-origin: top;
  color: rgba(255,255,255,.4);

  .green-button {
    background: #95BC2A;
    color: white;
    padding: 8px 8px 5px 8px;
    font-size: 11px;
    margin: 8px 0;
    cursor: pointer;
    border-bottom: solid 2px #71891B;
    position: relative;
    border-radius: 2px;
    top: 0;
    line-height: 18px;
    text-align: center;
    
    &:hover {
      opacity: .95;
    }
    
    &:active {
      opacity: .4;
    }
  }

  .loading {
    text-align: center;
    margin: 40px 0;
  }

  h1 {
    text-align: right;
    line-height: 140%;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-decoration: none;
    flex: 1;
    cursor: pointer;
    padding: 0 0 8px 0;
    margin: 0 0 12px 0;
    opacity: .5;
    border-bottom: solid 3px rgba(255,255,255,.6);
    
    a {
      color: white;
      font-size: 14px;
      text-decoration: none;
      flex: 1;
      cursor: pointer;
      padding: 0 5px 10px 5px;
      margin: 0;
      opacity: .6;
      
      &:hover {
        opacity: 1;
      }
      
      &.selected {
        border-bottom: solid 4px rgba(255,255,255,1);
        opacity: 1;
      }
      
    }
  }

  .leaderboard-author {
    margin: 12px 0;
    text-align: center;

    .author-name {
      color: rgba(255,255,255,.7);
      text-transform: none;
    }
  }

  .time {
    display: inline-block;
    font-size: 14px;
  }
  
  .rank {
    display: inline-block;
    opacity: .8;
    font-size: 14px;
  }
  
  .player .rank {
    opacity: 1;
  }

  .player {
    .time {
      font-size: 18px;
    }
    
    .name {
      margin-top: 10px;
    }

    .rank {
      font-size: 18px;
    }
  }
  
  .name {
    display: block;
    text-align: right;
    margin-top: 6px;
    opacity: .8;
    text-transform: none;
  }
  
  .time {
    float: right;
  }
  
  .loading-message {
    display: none;
    color: white;
    animation: blink .5s linear infinite;
  }

  &.loading {
    .loading-message {
      display: block;
    }
  }


  .entry {
    border-bottom: solid 2px rgba(255,255,255,.2);
    padding : 11px 0 10px 0;
    display: block;
    width: 100%;
    position: relative;

    &.player {
      color: white;
    }
    
    &:last-child {
      border: none;
    }
  }
}


// Hiding thsese for now..

.make-leaderboard {
  display: none;
}

.share-leaderboard {
  display: none;
}